.button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit-content;
  height: 50px;
  border-radius: 12px;
  background: $color-8;
  padding: 0 16px;
  text-decoration: none;
  color: $color-1;
  font-weight: 600;
  border: none;
  transition: 0.2s;
  &:hover {
    color: $color-1;
    transform: translateY(-3px);
    box-shadow: 0px 10px 25px rgba(59, 68, 91, 0.2);
  }
  &:focus {
    outline: 2px solid #00000060;
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(2px);
  }
  &.btn-lg {
    width: 100%;
  }
}
