h1 {
  font-style: normal;
  font-weight: 900;
  font-size: clamp(32px, 5vw, 56px);
  line-height: auto;
  background: $gradient-1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(18px, 5vw, 32px);
  line-height: clamp(18px, 5vw, 32px);
  color: $color-8;
}

h3 {
  font-style: italic;
  font-weight: 700;
  font-size: clamp(16px, 5vw, 24px);
  line-height: clamp(16px, 5vw, 24px);
  color: $color-8;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-8;
}

.f-16 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-8;
}

.f-24 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: $color-8;
}

.f-32 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(18px, 5vw, 32px);
  line-height: clamp(18px, 5vw, 38px);
  color: $color-8;
}

.f-32-i {
  font-style: italic;
  font-weight: 700;
  font-size: clamp(18px, 5vw, 32px);
  line-height: clamp(18px, 5vw, 32px);
  color: $color-8;
}
